main{
    margin-top: 68px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 140px;
}

.boxSession{
    display: flex; flex-direction: column;
}

.boxSession > h1 {
    font-size: 24px;
    color: #293845;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.session {
    display: flex; flex-direction: column;
    gap: 25px;
    border: 1px solid #29384584;
    border-radius: 5px;
    padding: 10px;
    margin: 0px 15px 15px 15px;
}
.session > h2 {
    font-size: 20px;
    color: #293845;
}
.boxHourSession{
    display: flex; gap: 0px 10px; flex-wrap: wrap;
}
.session .hourSession {
    background-color: #E8833A;
    width: 83px; height: 43px;
    display: flex; justify-content: center; align-items: center;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}